/* header section */

.header {
    display: flex;
    background-color: rgb(63, 61, 61);
    color: white;
    margin: auto;
    width: 70%;
    justify-content: space-between;
}

.logo {
    margin-left: 50px;
    justify-content: left;
}

.ul, .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

.menu-item {
    justify-content: space-around;
    padding: 10px;
    color: lightgrey;
}

/* main container section */

.main-container {
    display: flex;
    background-color: rgb(63, 61, 61);
    margin: auto;
    width: 70%;
    padding-top: 10px;
}

.main-info-text {
    /* display: flex; */
    color: white;
    margin-left: 50px;
    justify-content: left;
    font-weight: bold;
    font-size: 50px;
    
    
}

.main-info-paragraph {
    /* display: flex; */
    color: lightgray;
    margin-left: 50px;
    justify-content: left;
    width: 70%;
    
}

.main-info-button {
    /* display: flex; */
    margin-left: 50px;
    
}

.main-info-image {
    width: 400px;
    height: 200px;
    margin-right: 50px;
}

.main-info-button {
    border-radius: 5px;
    padding: 1em 2em;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
}

.random-info-container {
    margin: auto;
    width: 70%;
    padding-top: 10px;
}

.random-info-header {
    text-align: center;
}

.rndm-img-block {
    display: flex;
    margin: auto;
    align-content: space-around;
    justify-content:  space-around;
}

.rndm-img {
    display: flex;
    width: 200px;
}





